opentelemetry-collector/otelcol-contrib-demo/builder/_build
opentelemetry-collector/otelcol-contrib-demo/builder/ocb

# Python virtual environment
.venv/
__pycache__/

# env files
.env
.env.local

# NodeJS
node_modules/
nodejs/**/dist/

# Rust
target/