# OpenTelemetry Configuration
OTEL_EXPORTER_OTLP_ENDPOINT="https://ingest.<region>.signoz.cloud:443"
OTEL_EXPORTER_OTLP_HEADERS=signoz-ingestion-key=YOUR_SIGNOZ_KEY_HERE

# Service name will be set per service in run scripts
# OTEL_SERVICE_NAME=<service-name>

# Enable logging auto-instrumentation
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
